<div class="container-fluid" id="contact" style="margin-top: 75px">
		<h1 class="w3-xxxlarge">
			<b>Survey</b>
		</h1><br>

			<div class="form-group">
				<label>Student ID: </label> {{student.id}}
			</div>

			<div class="form-group">
				<label>Username: </label> {{student.username}}
			</div>
			<div class="form-group">
				<label>Street address: </label> {{student.street}}
			</div>

			<div class="form-group">
				<label>City: </label> {{student.city}}
			</div>
			<div class="form-group">
				<label>State: </label> {{student.state}}
			</div>
			<div class="form-group">
				<label>Zip Code: </label> {{student.zip}}
			</div>

			<div class="form-group">
				<label>Phone Number: </label> {{student.phone}}
			</div>
			<div class="form-group">
				<label>Email: </label> {{student.email}}
			</div>

			<div class="form-group">
				<label>Date: </label> {{student.date}}
			</div>


		</div>
